@import 'main';

*{

}

@media screen and (min-width: 120em){
  .t-responsive{
    width: 76px !important;
  }

  .cb {
    width: 105px;

    .checkbox-type{
      margin-left: 4px !important;
    }
  }
}

@media screen and (min-width: 160em){
  .t-responsive{
    width: 76px !important;
  }

  .cb {
    width: 105px;

    .checkbox-type{
      margin-left: 4px !important;
    }
  }
}

@media screen and (max-width: 1200px){
  .rightSide{
    padding-right: 15px !important;
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 990px)
{

  .first, .second{
    .inner{
      .textMain{
        height: 76px;
      }
    }
  }

  .rightSide{
    padding-right: 15px !important;
    padding-left: 0px !important;
  }

  .checkbox-type{
    margin-top: 0px !important;
    right: 23.5% !important;
  }

  .cb{
    vertical-align: middle !important;
  }

  .checkbox-type input{
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .checkbox-type label{
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3.125rem;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
  }

  .checkbox-type label:after{
    top: inherit;
  }

}

.c-hold{

  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
  }

  .cb-label{
    margin-top: 6px;
  }

  .cb-label:before {
    content: '\00a0';
    display: inline-block;
    line-height: 1.3;
    height: 1.8rem;
    width: 1.8rem;
    text-align: center;

    background: #ddd;
    border-radius: .2rem;
    margin-right: .3rem;
  }

  .cb-label:hover:before {
    color: #fff;
  }

  input[type='checkbox']:checked ~ .cb-label:before {
    background: rgb(64, 62, 65);
    color: #fff;
  }
}

.checkbox-type {
  width: 5.5rem;
  height: 2.5rem;
  position: relative;
}

.checkbox-type input {
  opacity: 0;
}
.checkbox-type label {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3.125rem;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}
.checkbox-type label:after {
  content: "";
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 3.125rem;
  cursor: pointer;
  position: absolute;
  top: .2125rem;
  z-index: 1;
  left: .5rem;
  background-color: #fff;
  -webkit-transition: left .2s ease-in-out;
  transition: left .2s ease-in-out;
}
.checkbox-type input[type=checkbox]:checked ~ label {
  background-color: #b65f2b;
}

.checkbox-type input[type=checkbox]:checked ~ label:after {
  left: 3.125rem;
}

#DataTables_Table_0_length{
  padding-left: 16px;
}

.n{
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}

.st{
  border: none;
  background: white;
}

.a{
  border-top: 1px solid #ddd !important;
}

//.t{
//  width: 268px !important;
//}

.car:hover{
  color: #333 !important;
}
.car{
  font-size: 30px;
}
.car_select{
  color: #b65f2b!important;
  font-size: 30px;
}

.c{
  color: #333 !important;
}

#DataTables_Table_0_wrapper{

  .row:first-child{
    margin-bottom: 15px;
  }
}

.no-footer {
  border-bottom: none !important;
}

.mainTable{
  border-left: 0px;
  border: none;
}

th.text-center{
  border-top: 1px solid #ddd;
}


.verticle-middle{
  vertical-align: middle !important;
}

.menuListOpen{
  outline: none;
  cursor: pointer;
}
.verticle-middle{
  form {
    position: relative;
    input[type='checkbox'] {
      width: 19px;
      height: 18px;
      top: 3px;
      cursor: pointer;
    }
  }
}

.dashboardHeadline{
  //height: 300px;

  .innerholder{
    padding: 50px;

    padding-top: 35px;

    height: 100%;
    border-radius: 2px;

    .profile_Pic_left{
      height: 100px;
      width: 100px;

      padding-right: 0px !important;

      margin: 0% auto;

      //border: 5px solid rgba(0,0,0,.2);
      border: 5px solid white;
      border-radius: 50%;
      #profilePicture{
        opacity: 0;
        position: absolute;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        cursor: pointer;
      }
      img{
        width: 100%;

        border-radius: 50%;
      }
      form {
        position: relative;
        input {
          position: absolute;
          opacity: 0;
          height: 90px;
          width: 90px;
          top: 0px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }

    .informationTextRight{
      padding-top: 20px;
      padding-left: 0px !important;

      h3{
        font-size: 5.0em;
        font-weight: 300;

        color: white;
      }
    }
  }
}

.dashboardHeadline{
  width: 100%;
  padding: 50px;
  padding-top: 35px;
  margin-top: 77px;
  border-top:1px solid #eee;
  display: inline-block;
  .innerholder {
    padding: 0px;
    .informationTextRight{
      h3{
        font-size: 5.0em;
        font-weight: 300;
        color: white;
      }
    }
  }
}

.mainContainer{
  padding: 0px !important;
  min-height: 660px;
  @media screen and (min-width: 85.375em){
    width: 1255px;
  }

  @media screen and (min-width: 120em){
    width: 1746px;
  }

  @media screen and (min-width: 160em){
    width: 1746px;
  }


  .leftmajor{
    //padding-left: 0px;
    margin-top: 15px;

    .cont{
      box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
      border: 1px solid #e7ecf1 !important;

      background: white;
      border-radius: 3px;
    }
    .right-space {
      position: absolute;
      right: -275px;
      z-index: 1000;
      top: 197px;
    }
    .left-space {
      position: absolute;
      left: -290px;
      z-index: 1000;
      top:197px;
    }
    .barOfInfo{
      padding-bottom: 15px;

      .wideBar{

        .inner {
          background: #d27842;
          box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .03);
          border: 1px solid #e7ecf1 !important;

          padding-right: 0px;

          border-radius: 3px;

          .textMain {
            padding: 23px;
            background: rgba(0, 0, 0, 0.2);

            h3 {
              font-size: 1.2em;
              color: white;
            }
          }

          .numberMain {
            padding: 20px;
            //background: rgba(0, 0, 0, .2);

            height: 100%;

            h3 {
              @extend .text-center;

              font-size: 1.5em;
              color: white;
            }
          }
        }
      }
    }

    .topSearchAsins{
      padding: 20px;

      .topBox{
        //border-bottom: 1px solid #eee;
        //padding-bottom: 20px;
        position: relative;

        h3{
          font-size: 1.5em;
          font-weight: 400;
          color: #333;
          text-align: center;
        }
        .item-list {
          position: absolute;
          top: 12px;
          left: 50%;
          margin-left: -85px;
        }
      }

      .bottomContent{
        padding-top: 10px;

        .innerCont{

          ul.activityHolder{
            margin-left: 0px;
            padding-left: 0px;

            li{
              list-style: none;
              background-color: #fafafa;
              color: #82949a;
              margin-bottom: 7px;

              padding: 6px;
              border: 1px solid rgba(0,0,0,.05);
              border-radius: 2px;

              .col1{
                float: left;
                padding-left: 0px;

                .contm{
                  float: left;
                  margin-right: 75px;
                  overflow: hidden;

                  background: transparent;

                  .cont-col1{
                    float: left;
                    margin-right: -100%;

                    padding: 3px;

                    label{
                      box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .03);
                    }
                  }

                  .cont-col2{
                    width: 100%;
                    float: left;

                    .desc{
                      margin-left: 35px;
                      padding-top: 4px;
                      padding-bottom: 5px;
                      overflow: hidden;

                      font-weight: 400;
                      color: #333;
                    }
                  }
                }
              }

              .col2{
                padding: 4px 9px 5px 4px;
                text-align: right;
                font-style: italic;
                color: #c1cbd0;

                float: right;

                font-weight: 400;
              }
            }
          }
        }

        .formTop{
          background: #fafafa;
          padding: 20px;
          //form {
          .buttons{
            input[type='submit'], input[type='button'] {
              //border-top-left-radius: 0px;
              //border-bottom-left-radius: 0px;
              width: calc(100% - 68px);
              background: #b65f2b;
              outline: none!important;
              border-color:#b65f2b;
              float: right;
              margin-right: 10px;
            }
            button {
              background: #b65f2b;
              min-width: 20px;
              padding-left: 15px;
              padding-right: 15px;
              float:right;
            }
          }

          //}
          .image-div{
            text-align: center;
            margin-bottom: 20px;
            img{
              width: 120px;
              height: 120px;
              margin-top:20px;
            }
          }
          .amazon-content{
            margin-bottom: 20px;
            .amazon-title-name{
              font-weight: bold !important;
              text-align: center;
              padding:20px;
            }
            .amazon-asin{
              font-weight: 400 !important;
              text-align: center;
              padding: 20px;
            }
            .submit-button-div{
              text-align: center;
              button{
                background: #b65f2b;
                margin-top: 25px;
                margin-bottom: 25px;
              }
            }
          }
          .amazon-item-div{
            text-align: center;
            margin-bottom: 20px;
            border-left: 2px solid #ccc;
            .amazon-correct-item{
              font-size: 25px;
              text-align: center;
              padding:20px;
            }
            .holder{
              width: 100px;
              display: inline-block;
              padding-bottom: 20px;
              .selectMod{
                .c-hold{
                  input[type='radio']{
                    width: 19px;
                    height: 19px;
                    margin-top: 6px;
                    cursor: pointer;
                  }
                }
              }
            }
          }



        }

        .listHolder{

          table{
            width: 100%;
            border-collapse: collapse;
            padding-bottom: 0px;
            margin-bottom: 0px;

            thead{

            }

            tbody{

              tr{
                margin-bottom: 10px;

                td{
                  margin-bottom: 10px;
                  box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
                  vertical-align: middle;
                  font-weight: 400;
                  max-width: 350px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;

                  a{
                    color: #333;
                    font-weight: 400;
                  }

                  a:hover{
                    color: lighten(#2F4050, 10%);
                    text-decoration: none;
                  }
                  .switch{
                    vertical-align: middle;
                  }
                  span {
                    vertical-align: middle;
                  }
                }

                th.b{
                  font-size: 1.5em;
                  font-weight: 400;
                }

                th.green{
                  color: $primarygreen;
                }

                th.red{
                  color: $primaryred;
                }

                th.menuListOpen:focus{
                  outline: none;
                }

                th{
                  .checkbox-type{
                    margin-top: 15px;
                    margin-left: -8px;
                  }
                }
              }
            }
          }

          ul{
            margin:0px;
            padding: 0px;

            li.listMaker{
              border: 1px solid #e7ecf1 !important;
              border-radius: 3px;

              list-style: none;

              padding: 12px 15px 15px;
              background-color: #fff;

              box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);

              .iconHolder{
                padding-left: 0px;

                img{
                  width: 60%;
                  background-size: cover;
                }
              }
            }
          }
        }
      }
    }
  }

  .rightSide{
    margin-top: 15px;
    padding-right: 0px;

    .longBox{
      box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);
      border: 1px solid #e7ecf1 !important;

      background: white;
      border-radius: 3px;

      .topNumber{
        padding: 20px;
        border-bottom: 1px solid #eee;

        h3{
          @extend .text-center;
          font-size: 2.8em;
          font-weight: 200;
        }
      }

      .bottomContent{
        padding: 15px;

        font-size: 1.1em;
        font-weight: 500;

        background: #fafafa;

      }
    }
  }
  .search-right-corner{
    display:inline-block;
    position: absolute;
    top: -3px;
    right: 0px;
    input#bookSearch{
      margin-left: 0.5em;
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
  }
  .green-right-triangle {
    border-left: 12px solid green;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .red-right-triangle {
    border-left: 12px solid red;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .display-none{
    display:none!important;
  }
}
.confirm-button-color {
  background-color: #B65F2B!important;
  color: white!important;
}