@import 'main';

*{

}

body{
  background: #ececec;
}

.mainForgotPassCont{
  padding-top: 230px;
  padding-bottom: 100px;

  .ForgotPassSec{
    @extend .card;

    padding: 20px;

    .topHeadOfCard{
      border-bottom: 1px solid #eee;
      padding: 0px;
      padding-bottom: 15px;

      h3{
        padding-left: 0px;
        padding-bottom: 10px;
      }

      h3:first-child{
        color: #676a6c;
        font-weight: 400;
        font-size: 1.6em;
      }

      p{
        font-weight: 600;
        color: #676a6c;

        margin: 0px;
        padding: 0px;
      }
    }

    .middleCardContent{
      padding-top: 20px;

      padding-left: 0px;
      padding-right: 0px;

      form{
        margin-bottom: 0px;

        .col-md-11{
          margin-left: 6px;
        }

        input[type='email'], input[type='password']{
          @extend .col-lg-12;
        }

        input[type='checkbox']{
          width: 12px;
        }
      }

      .wayBottom{
        padding-top: 5px;

        p{
          font-weight: 400;
          padding-left: 0px;
          margin: 0px;
          margin-top: 15px;
        }

        input{

          margin-top: 15px;
          background: rgb(182, 95, 43);
          color: white;
        }
      }
    }
  }
}

